<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tekapic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:grantUriPermissions="true"
            android:label="@string/profile"
            android:screenOrientation="portrait" />
        <activity
            android:grantUriPermissions="true"
            android:name=".RegisterActivity"
            android:label="@string/sign_up"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:grantUriPermissions="true"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditPictureTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumsActivity"
            android:label="@string/albums"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PictureActivity"
            android:label="@string/picture"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PictureTheme" />
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/update_albums"
            android:parentActivityName=".PictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditPictureTheme" />
        <activity
            android:name=".PicturesActivity"
            android:parentActivityName=".AlbumsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/forgot_password"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/welcome_to_tekapic"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/search_people"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePeopleActivity"
            android:parentActivityName=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PicturePeopleActivity"
            android:label="@string/picture"
            android:parentActivityName=".HomePeopleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PictureTheme" />
        <activity
            android:name=".AlbumsPeopleActivity"
            android:label="@string/albums"
            android:parentActivityName=".HomePeopleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PicturesPeopleActivity"
            android:parentActivityName=".AlbumsPeopleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/favorites"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountPrivacyActivity"
            android:label="@string/account_privacy"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:grantUriPermissions="true"
            android:name=".EditProfileActivity"
            android:label="@string/edit_profile"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LikesActivity"
            android:label="@string/likes"
            android:parentActivityName=".PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExploreActivity"
            android:label="@string/explore"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:parentActivityName=".ExploreActivity"
            android:screenOrientation="portrait"
            android:name=".PictureExploreActivity">

        </activity>
    </application>

</manifest>